@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: 'VT323', monospace;
    background-color: #000;
}

* {
    color: #fff;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* ------------------------------------------------------------------------ */

.enemy-stats {
    color: #f00;
    font-weight: bold;
}

.game-field {
    outline: none;
    margin: 0 auto;
}

.game-info {
    font-size: 24px !important;
}

.wall {
    background: url('/tileset2.png') 0 0;
    height: 24px;
    width: 24px;
}

.player {
    background: url('/tileset2.png') -72px 0;
    height: 24px;
    width: 24px;
}

.grass {
    background: url('/tileset2.png') -216px 0px;
    height: 24px;
    width: 24px;
}

.coin {
    background: url('/tileset2.png') -336px 0px;
    height: 24px;
    width: 24px;
}

.potion {
    background: url('/tileset2.png') -24px 0px;
    height: 24px;
    width: 24px;
}

.treasure-chest {
    background: url('/tileset2.png') -312px 0px;
    height: 24px;
    width: 24px;
}

.spider {
    background: url('/tileset2.png') -96px -0px;
    height: 24px;
    width: 24px;
}

.lurcher {
    background: url('/tileset2.png') -120px -0px;
    height: 24px;
    width: 24px;
}

.crab {
    background: url('/tileset2.png') -288px -0px;
    height: 24px;
    width: 24px;
}

.ladder-down {
    background: url('/tileset2.png') -168px -0px;
    height: 24px;
    width: 24px;
}

.ladder-up {
    background: url('/tileset2.png') -192px -0px;
    height: 24px;
    width: 24px;
}

.golden-candle {
    background: url('/tileset2.png') -144px -0px;
    height: 24px;
    width: 24px;
}

.hidden {
    background-color: #111;
    height: 24px;
    width: 24px;
}